<?xml version="1.0"?>
<launch>
 
   <!-- Yamabiko -->
    <node pkg="ypspur_ros" type="ypspur_ros" name="ypspur_ros">
      <param name="param_file" value="/home/ruan-x/researches/programs/platform/yp-robot-params/robot-params/M1.param" />
      <param name="port" value="/dev/ttyACM1" />
      <param name="compatible" value="1"/>
    </node>
    <!-- urg -->
    <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
      <param name="serial_port" value="/dev/ttyACM0" />
      <param name="angle_min" value="-1.5707963" />
      <param name="angle_max" value="1.5707963" />
    </node>


    <!-- joy_nodeの起動 -->
    <!-- <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    </node>

    <node name="joy_controller3" pkg="yamasemi_sim" type="joy_controller3">
    </node> -->

    <!-- <node name="recorder_map_node" pkg="scan_recorder" type="recorder_map_node">
    </node> -->

    <node name="scan_recorder_node" pkg="scan_recorder" type="scan_recorder_node" output="screen">
    </node>
    
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find yamasemi_tf2)/rviz/yamabico.rviz" /> -->
  

</launch>
